<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';

interface CardGroup {
  fields: {
    header: string;
    card: Card[];
  };
}

interface Card {
  fields: {
    title: string;
    description: string;
    cardLink: string;
    iconName: string;
  };
}

export default Vue.extend({
  props: {
    cardGroup: {
      type: Object as PropType<CardGroup>,
      required: true,
    },
  },
});
</script>

<template>
  <div class="wrapper">
    <SlpTypography variant="heading2-bold" class="slp-mb-32" tag="h2">{{
      cardGroup.fields.header
    }}</SlpTypography>
    <div class="solution-grid">
      <a
        v-for="communityCard in cardGroup.fields.card"
        :key="communityCard.fields.title"
        class="solution-card"
        :href="communityCard.fields.cardLink"
        :data-ga-name="communityCard.fields.title"
        data-ga-location="by solution"
      >
        <SlpIcon
          :name="communityCard.fields.iconName"
          size="md"
          variant="marketing"
        />
        <SlpTypography variant="heading5-bold">{{
          communityCard.fields.title
        }}</SlpTypography>
        <SlpTypography variant="body3">{{
          communityCard.fields.description
        }}</SlpTypography>
        <SlpIcon name="arrow-right" variant="product" size="sm" />
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.solution-grid {
  display: grid;
  margin-top: 24px;
  grid-template-columns: 1fr;
  gap: 16px;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
  .solution-card {
    cursor: pointer;
    display: flex;
    color: $color-text-300;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    justify-content: space-between;
    background-color: $color-surface-800;
    min-height: 250px;
    border-radius: 4px;
    transition: all 0.3s;

    &:hover {
      border-radius: 4px 4px 90px 4px;
      background: linear-gradient(
        93.83deg,
        rgba(199, 177, 254, 0.4) 7.27%,
        rgba(255, 212, 216, 0.4) 105.33%
      );
    }
  }
}
</style>
