<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getClient } from '../../plugins/contentful.js';
import { CONTENT_TYPES } from '../../common/content-types';
import { NextStep } from '../../components/common/index.vue';
import { PreferencesForm } from '../../components/company/index.vue';
import { getPageMetadata } from '../../common/meta';
import { SolutionsHero as Hero } from '../../components/solutions/index.vue';

export default Vue.extend({
  name: 'Company',
  components: {
    NextStep,
    Hero,
    PreferencesForm,
  },
  async asyncData({ $content, i18n, redirect }: any) {
    try {
      const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;

      if (locale) {
        const preferenceCenter = await $content(
          locale,
          'company/preference-center',
        ).fetch();
        return { preferenceCenter };
      }

      const { items } = await getClient().getEntries({
        content_type: CONTENT_TYPES.PAGE,
        'fields.slug': 'company/preference-center',
        include: 10,
      });
      const data = items[0].fields.pageContent;

      const [cmsHero, cmsPreferencesForm] = data;

      const hero = {
        data: {
          title: cmsHero.fields.title,
          subtitle: cmsHero.fields.description,
          image: {
            image_url: cmsHero.fields.backgroundImage.fields.file.url,
            bordered: true,
            rectangular: true,
          },
        },
        name: 'hero',
      };

      const preferencesForm = {
        data: {
          formId: cmsPreferencesForm.fields.formId,
          datalayer: 'preference center',
          form_header: '',
          form_paragraph: '',
          form_required_text: ' ',
        },
        name: 'preferences-form',
      };

      const preferenceCenter = {
        title: items[0].fields.seoMetadata[0].fields.title,
        description: items[0].fields.seoMetadata[0].fields.description,
        components: [hero, preferencesForm],
      };

      return { preferenceCenter };
    } catch (e) {
      return redirect('/404');
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).preferenceCenter, this.$route.path);
  },
});
</script>

<template>
  <div>
    <SlpColumn>
      <component
        :is="component.name"
        v-for="(component, i) in preferenceCenter.components"
        :key="i"
        :data="component.data"
      />
    </SlpColumn>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
// marketo specific overrides
:deep(.mktoForm_container .mktoFieldWrap label) {
  margin-bottom: 16px;
}
</style>
