<script lang="ts">
import Vue from 'vue';
import { NAV_CONTENT_TYPES } from '../../common/content-types';
import { convertToCaseSensitiveLocale } from '../../common/util';
import { getNavigationClient } from '~/plugins/contentful';

export default Vue.extend({
  name: 'SummitNavigationHOC',
  data() {
    return {
      navigation: {},
    };
  },
  async fetch() {
    const navigationEntry = await getNavigationClient().getEntries({
      content_type: NAV_CONTENT_TYPES.NAVIGATION,
      include: 3,
      locale: convertToCaseSensitiveLocale(this.$i18n.locale),
      'sys.id': '5oPdwxsSyTUKKM0hlcnRVf',
    });

    const [navigation] = navigationEntry.items;

    this.navigation = navigation.fields;
  },
});
</script>

<template>
  <div>
    <client-only>
      <nav>
        <nuxt-img
          class="desktop"
          src="/nuxt-images/free-trial/free-trial-nav-logo-mobile.svg"
          width="32px"
        />
        <nuxt-img
          class="mobile"
          src="/nuxt-images/free-trial/free-trial-nav-logo-mobile.svg"
          width="25px"
        />
        <div class="nav-buttons">
          <SlpButton
            v-for="item in navigation.navItems"
            :key="item.fields.text"
            :href="item.fields.href"
            variant="tertiary"
          >
            {{ item.fields.text }}
          </SlpButton>
          <SlpButton
            v-if="navigation?.login"
            :href="navigation?.login?.fields.href"
            variant="primary"
          >
            {{ navigation?.login?.fields.text }}
          </SlpButton>
        </div>
      </nav>
    </client-only>
  </div>
</template>

<style lang="scss" scoped>
nav {
  display: flex;
  justify-content: space-between;
  padding: 13px $spacing-32;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1025;
  background: $color-surface-50;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  .nav-buttons {
    justify-content: flex-end;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  .slp-btn-tertiary {
    margin-right: $spacing-24;
    font-weight: 400;
    color: $color-text-200;
  }

  .mobile {
    display: none;
  }

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
    &:deep(.slp-btn) {
      border-radius: 0;
      justify-content: center;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
      margin: 12px auto;
    }
  }
}
</style>
