<script lang="ts">
import Vue, { PropType } from 'vue';

export default Vue.extend({
  name: 'FeaturesFilter',
  props: {
    dropdownOptions: {
      type: Array as PropType<Array<string>>,
      required: false,
      default: () => [],
    },
    dropdownLabel: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      plan: '',
      planOptions: [
        {
          value: 'Ultimate',
          name: 'plan',
        },
        { value: 'Premium', name: 'plan' },
        { value: 'Free', name: 'plan' },
      ],
    };
  },
  watch: {
    plan() {
      this.updateFilter();
    },
  },

  methods: {
    resetFilter() {
      this.plan = '';
    },
    updateFilter() {
      const dataLayer = (window as any).dataLayer || [];
      dataLayer.push({
        event: 'featuresFilterPlan',
        featuresFilterPlanName: this.plan,
      });

      this.$emit('updateFilter', {
        plan: this.plan,
      });
    },
  },
});
</script>

<template>
  <SlpContainer
    class="features-filter"
    data-aos="fade-up"
    data-aos-duration="500"
  >
    <SlpRow class="features-filter__row">
      <div class="slp-flex slp-align-items-center features-filter__wrapper">
        <VDropdown :distance="6">
          <a class="features-filter__button">
            <SlpIcon
              class="slp-mr-8"
              name="filter"
              variant="product"
              size="sm"
              slp-color="text-link-100" /><SlpTypography
              variant="body1-bold"
              tag="span"
            >
              Filter by subscription tier
            </SlpTypography>
            <SlpIcon
              class="slp-ml-8"
              name="chevron-lg-down"
              variant="product"
              size="sm"
              slp-color="text-link-100"
          /></a>

          <template #popper="{ hide }">
            <div class="features-filter__popover">
              <div class="features-filter__close">
                <button @click="hide()">
                  <SlpIcon name="close" variant="product" />
                </button>
              </div>
              <div class="features-filter__content">
                <SlpTypography
                  class="slp-mb-8 slp-color-primary-200"
                  variant="body2"
                  tag="h3"
                  >Available on
                </SlpTypography>
                <SlpRadioGroup
                  v-model="plan"
                  :options="planOptions"
                  name="plan"
                  class="features-filter__radio-group"
                  @input="hide()"
                ></SlpRadioGroup>
              </div>
              <div class="features-filter__apply" @click="hide()">
                <SlpButton
                  variant="ghost"
                  class="features-filter__reset"
                  @click.native="resetFilter"
                >
                  <SlpTypography
                    class="slp-mb-8 slp-color-text-link-100"
                    variant="body2-bold"
                    tag="span"
                    >Reset
                  </SlpTypography>
                </SlpButton>
              </div>
            </div>
          </template>
        </VDropdown>
      </div>
    </SlpRow>
  </SlpContainer>
</template>

<style scoped lang="scss">
.features-filter {
  margin-bottom: $spacing-32;
  padding: $spacing-16 $spacing-8;
  border-bottom: 1px solid $color-surface-200;
  border-top: 1px solid $color-surface-200;

  @media (min-width: $breakpoint-md) {
    border: none;
    position: absolute;
    z-index: 100;
  }

  &__row {
    flex-direction: column;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }
  }

  &__close {
    display: flex;
    justify-content: flex-end;

    button {
      cursor: pointer;
      border: none;

      &:hover {
        filter: brightness(80%);
      }
    }

    &:deep svg {
      fill: $color-surface-700;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $color-text-link-100;

    &:hover {
      filter: brightness(80%);
    }
  }

  &__dropdown {
    margin-bottom: $spacing-8;

    &:deep .dropdown__select {
      border-radius: 68px;
      padding-left: $spacing-24;
      font-weight: $font-weight-bold;
    }

    @media (min-width: $breakpoint-md) {
      margin-right: $spacing-16;
      margin-bottom: 0;
    }

    &:after {
      @media (min-width: $breakpoint-md) {
        top: 12px;
      }
    }
  }

  &__popover {
    padding: $spacing-16 $spacing-16 $spacing-16 $spacing-32;
    min-width: 300px;
  }

  &__content {
    border-bottom: 1px solid $color-surface-200;
  }

  &__reset {
    padding: 0;
    span {
      margin: 0;
    }
  }

  &:deep .v-popper {
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }

  &__wrapper {
    margin-left: 0;
    @media (min-width: $breakpoint-md) {
      margin-left: auto;
    }
  }
  &__apply {
    text-align: center;
    .slp-btn {
      padding: $spacing-16 0 0;
    }
  }
  &__radio-group {
    padding: $spacing-8 0 0 $spacing-8;
    :deep .slp-radio__checkmark {
      border-color: $color-surface-200 !important;
    }
  }
}
</style>
