<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  TeamOpsCardSection,
  TeamOpsFeatures,
  TeamOpsHero,
  TeamOpsJoinUsSection,
  TeamOpsSpotlight,
  TeamOpsVideoSpotlight,
} from '../../components/team-ops/index.vue';
import { NextStep } from '../../components/common/index.vue';
import { getPageMetadata } from '~/common/meta';
import { CONTENT_TYPES } from '~/common/content-types';
import { getClient } from '~/plugins/contentful.js';
import {
  TeamOpsData,
  teamOpsDataHelper,
} from '~/services/teamops/teamops.service';

export default Vue.extend({
  name: 'TeamOps',
  components: {
    TeamOpsHero,
    TeamOpsSpotlight,
    TeamOpsFeatures,
    TeamOpsVideoSpotlight,
    TeamOpsCardSection,
    TeamOpsJoinUsSection,
    NextStep,
  },

  async asyncData({ $content, params, i18n }) {
    const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;
    let teamOps: TeamOpsData;
    // Default locale data - Contentful
    if (locale) {
      teamOps = await $content(locale, `teamops/index`, params.slug).fetch();
    } else {
      teamOps = await getClient()
        .getEntries({
          content_type: CONTENT_TYPES.PAGE,
          include: 10,
          'sys.id': `21QxTW2DyILSaFMncoIZdv`,
        })
        .then((query) => {
          const entryFields = query.items[0]?.fields;
          return teamOpsDataHelper(entryFields);
        });
    }
    return { teamOps, locale };
  },
  head(): MetaInfo {
    return getPageMetadata(
      (this as any).teamOps,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
});
</script>

<template>
  <section class="team-ops">
    <TeamOpsHero :data="teamOps.hero" />
    <TeamOpsSpotlight :data="teamOps.spotlight" />
    <TeamOpsFeatures :data="teamOps.features" />
    <TeamOpsVideoSpotlight :data="teamOps.video_spotlight" />
    <TeamOpsCardSection :data="teamOps.card_section" />
    <TeamOpsJoinUsSection :data="teamOps.join_us" />
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.team-ops {
  :deep {
    .slp-btn-secondary {
      &:hover,
      &:focus {
        background: $color-primary-200;
        color: $color-primary-300;
      }
    }
  }
}
</style>
