<script lang="ts">
import Vue from 'vue';
import SlpNavigationHOC from '~/components/navigation/navigation-hoc.vue';
import { NAV_CONTENT_TYPES } from '../common/content-types';
import { convertToCaseSensitiveLocale } from '../common/util';
import { getNavigationClient } from '~/plugins/contentful';

export default Vue.extend({
  components: {
    SlpNavigationHOC,
  },
  data() {
    return {
      footer: {},
    };
  },
  async fetch() {
    const footerEntry = await getNavigationClient().getEntries({
      content_type: NAV_CONTENT_TYPES.FOOTER,
      'sys.id': 'QxdoqHd5ixKTwFjIHYvYI',
      include: 3,
      locale: convertToCaseSensitiveLocale(this.$i18n.locale),
    });

    const [footer] = footerEntry.items;

    this.footer = footer;
  },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href:
            this.$route.path === '/'
              ? 'https://about.gitlab.com/'
              : `https://about.gitlab.com${this.$route.path}/`,
        },
      ],
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
    };
  },
});
</script>

<template>
  <div>
    <SlpNavigationHOC />
    <Nuxt role="main" />
    <SlpMinimizedFooter :contentful-footer-data="footer" />
  </div>
</template>
