<script>
import { CONTENT_TYPES } from '../../common/content-types';
import { getClient } from '~/plugins/contentful.js';
import { getPageMetadata } from '~/common/meta';
import { SolutionsHero } from '~/components/solutions/index.vue';
import { NextStep } from '~/components/common/index.vue';
import { CardGrid } from '~/components/community/index.vue';

export default {
  components: {
    NextStep,
    SolutionsHero,
    CardGrid,
  },

  async asyncData() {
    const { items } = await getClient().getEntries({
      content_type: CONTENT_TYPES.PAGE,
      'fields.slug': 'community',
      include: 10,
    });
    const [ctfHero, cardGroup] = items[0].fields.pageContent;
    const metadata = items[0].fields.seoMetadata[0].fields;

    const image = ctfHero.fields.backgroundImage && {
      image_url: ctfHero.fields?.backgroundImage?.fields?.file?.url,
      alt: ctfHero.fields?.backgroundImage?.fields?.title,
    };

    const hero = {
      ...ctfHero.fields?.customFields,
      title: ctfHero.fields?.title,
      subtitle: ctfHero.fields?.description,
      image,
    };
    console.log(ctfHero.fields);
    return { hero, cardGroup, metadata };
  },
  head() {
    return getPageMetadata(
      this.metadata,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
};
</script>

<template>
  <div>
    <SlpContainer>
      <SolutionsHero :data="hero" />
      <CardGrid :card-group="cardGroup" />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
